<h1 mat-dialog-title>New Profile</h1>

<div mat-dialog-content>
    <form [formGroup]="form">
        
        <mat-form-field>
            <mat-label>Nickname</mat-label>
            <input matInput formControlName="nickname">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="desc">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Photo URL</mat-label>
            <input matInput formControlName="photo">
        </mat-form-field>

    </form>
</div>

<div mat-dialog-actions>
    <button mat-button 
        (click)="exit()">
        Go out!
    </button>
    <button mat-button 
        (click)="send_data()" 
        cdkFocusInitial>
        Create Profile
    </button>
</div>
