<div class="white">
    <div class="white-circle overlay-white"></div>
</div>

<div
    gdAreas="side | content"
    gdColumns="100%" 
    gdGap="16px" 
    gdAreas.gt-sm="side content" 
    gdColumns.gt-sm="30% 70%">

    <div gdArea="side">
        <div fxLayout="column">
            <mat-card class="profile-card">
                <img mat-card-image
                    class="filtered"
                    src="../../../../assets/images/about/profile_2.jpg" 
                    alt="Joel profile image">
                <mat-card-content class="card-content">
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-mini-fab color="primary" 
                        class="social-button" 
                        fxLayout="row" 
                        fxLayoutAlign="center center">
                        <a href="https://twitter.com/GRJoe8" 
                            target="_blank" 
                            rel="nofollow">
                            <mat-icon svgIcon="twitter" class="button-icon"></mat-icon>
                        </a>
                    </button>
                    <button mat-mini-fab color="primary" 
                        class="social-button" 
                        fxLayout="row" 
                        fxLayoutAlign="center end">
                        <a href="https://www.linkedin.com/in/joel-gonz%C3%A1lez-rodr%C3%ADguez-087b6652/" 
                            target="_blank" 
                            rel="nofollow">
                            <mat-icon svgIcon="linkedin"></mat-icon>
                        </a>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div gdArea="content">
        <div fxLayout="column" class="about-content">
            <mat-list>
                <div mat-subheader>Folders</div>
                <mat-list-item *ngFor="let folder of folders">
                  <mat-icon mat-list-icon>folder</mat-icon>
                  <div mat-line>{{folder.name}}</div>
                  <div mat-line> {{folder.updated | date}} </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>Notes</div>
                <mat-list-item *ngFor="let note of notes">
                  <mat-icon mat-list-icon>note</mat-icon>
                  <div mat-line>{{note.name}}</div>
                  <div mat-line> {{note.updated | date}} </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div mat-subheader>Main Skills</div>
                <mat-chip-list>
                    <mat-chip *ngFor="let skill of main_skills"
                        [color]="skill.color" selected>
                            {{skill.name}}
                    </mat-chip>
                </mat-chip-list>
                <mat-divider class="divider"></mat-divider>
                <div mat-subheader>Secondary Skills</div>
                <mat-chip-list
                    class="example-chip"
                    cdkDropList 
                    cdkDropListOrientation="horizontal"
                    (cdkDropListDropped)="drop($event)">
                    <mat-chip
                    class="example-box"
                    cdkDrag
                    *ngFor="let skill of secondary_skills"
                    [color]="skill.color" selected>
                        {{skill.name}}
                    </mat-chip>
                </mat-chip-list>
                
            </mat-list>

        </div>
    </div>

</div>