<div class="white">
    <div class="white-circle overlay-white"></div>
</div>

<div gdAreas="side content" gdGap="16px" gdColumns="30% 70%">

    <div gdArea="side">
        <div fxLayout="column">
            <mat-card class="profile-card">
                <img mat-card-image
                    class="filtered"
                    src="../../../../assets/images/about/profile_2.jpg" 
                    alt="Joel profile image">
                <mat-card-content class="card-content">
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-mini-fab color="primary" class="social-button">
                        <a href="https://twitter.com/GRJoe8" target="_blank" rel="nofollow">
                            <mat-icon svgIcon="twitter"></mat-icon>
                        </a>
                    </button>
                    <button mat-mini-fab color="primary" class="social-button">
                        <a href="https://www.linkedin.com/in/joel-gonz%C3%A1lez-rodr%C3%ADguez-087b6652/" target="_blank" rel="nofollow">
                            <mat-icon svgIcon="linkedin"></mat-icon>
                        </a>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div gdArea="content">
        <ul>
            <li>Item 1</li>
            <li>Item 1</li>
            <li>Item 1</li>
            <li>Item 1</li>
            <li>Item 1</li>
        </ul>
    </div>

</div>