.profile-card {
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(51,51,51,0.70);
    z-index: 1;
}

.filtered {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.social-button {
    margin-right: 0.3rem;

    a:hover, a:focus {
        color: #333333;
    }
}

.about-content {
    margin: 0rem 1rem 1rem 1rem; //delete
    border-radius: 0.5rem;
    background-color: rgba(51,51,51,1);
    z-index: 1;

    .divider {
        margin-top: 1rem;
    }
}

// Chips drag and drop
.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (min-width: 960px) {
    .about-content {
        margin-top: 1rem;
    }
}

