.profile-card {
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(51,51,51,0.70);
    z-index: 1;

    .profile-desc {
        max-height: 16rem;
        padding: 0rem 0.5rem 0.5rem 0.5rem;
        text-align: justify;
        text-justify: inter-word;
        overflow-y: scroll;
    }

    .profile-data {
        padding: 0rem 0.5rem 0rem 0.5rem;
        p {
            line-height: 12px;
        }
    }
    
    .filtered {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .social-button {
        margin-right: 0.3rem;
    
        a:hover, a:focus {
            color: #333333;
        }
    }
}


.about-content {
    margin: 0rem 0.5rem 1rem 0.5rem;
    padding-top: 0rem;
    background-color: rgba(51,51,51,0.70);
    border-radius: 0.5rem;
    z-index: 1;

    .mat-subheader.chip-subheader {
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
    }

    .mat-subheader.chip-subheader.extra-padding {
        padding-top: 2rem;
    }
}

@media (min-width: 600px) {
    .profile-card{
        margin: 2rem 4rem 0rem 4rem;
    }

    .about-content {
        margin: 2rem 4rem 0rem 4rem;
    }
}


@media (min-width: 960px) {

    .profile-card {
        margin: 1rem 1rem 1rem 1rem;

        .profile-desc {
            max-height: 4rem;
        }
    }

    .about-content {
        margin: 1rem 0rem 1rem 0rem;
    }
}

