.about-content {
    margin: 0rem 0.5rem 1rem 0.5rem;
    padding: 0rem 1rem 1.5rem 1rem;
    background-color: rgba(51,51,51,0.70);
    border-radius: 0.5rem;
    z-index: 1;
}

@media (min-width: 600px) {
    .about-content {
        margin: 2rem 4rem 0rem 4rem;
    }
}

@media (min-width: 960px) {
    .about-content {
        margin: 1rem 0rem -1rem 0rem;
    }
}

