.profile-card {
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(51,51,51,0.70);
    z-index: 1;
}

.filtered {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.social-button {
    margin-right: 0.3rem;

    a:hover, a:focus {
        color: #333333;
    }
}

