<h1 mat-dialog-title>Enter Room Password</h1>

<div mat-dialog-content>
    <form [formGroup]="form">

        <mat-form-field *ngIf="data.has_password">
            <mat-label>Old Password</mat-label>
            <input matInput formControlName="old_password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput formControlName="new_password">
        </mat-form-field>

    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="exit()">
        Go out!
    </button>
    <button mat-button (click)="send_data()" cdkFocusInitial>
        Ok
    </button>
</div>
