.content {
    margin-top: 6rem;

    .image-container {
        width: 60%;
        z-index: 1;
        
        .image {
            width: 100%;
            object-fit: cover;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
    
}

@media (min-width: 960px) {
    .content {
        margin-top: 6rem;

        .image-container {
            width: 40%;
        }
    }
}