<mat-list>
  <div mat-subheader>{{chat_list_type}}</div>
  <mat-list-item *ngFor="let room of rooms">
    <mat-icon mat-list-icon>question_answer</mat-icon>
    <div mat-line>{{room.name}}</div>
    <div mat-line> {{room.created_at | date}} </div>

    <!-- Action buttons -->
    <button mat-mini-fab aria-label="Enter room button" 
            color="basic"
            (click)="emit_object('login', 'room', room._id)">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-mini-fab aria-label="View room info button" 
            color="primary"
            class="mx-2 mx-md-4"
            [routerLink]="'/chat/room-config/' + room._id">
      <mat-icon>view_list</mat-icon>
    </button>
    <button *ngIf="!is_general" 
            mat-mini-fab 
            aria-label="Delete chat room button" 
            color="warn"
            (click)="emit_object('delete', 'room', room._id)">
      <mat-icon>delete</mat-icon>
    </button>

  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>