<mat-card class="contact-card">

    <mat-card-header>
        <mat-card-title>Contact Me</mat-card-title>
        <mat-card-subtitle>Do you want to contact me? This is the right place</mat-card-subtitle>
    </mat-card-header>

    <mat-divider inset="true"></mat-divider>

    <mat-card-content class="contact-card-content">
        <form [formGroup]="form" 
            (ngSubmit)="send_message()" 
            autocomplete="off"
            #formDirective="ngForm">
            <p>
                <mat-form-field appearance="outline" class="contact-input">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" 
                        matInput 
                        placeholder="Your name goes here">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <span class="form-error-msg" 
                        error-msg
                        [show_error]="is_field_invalid('name')"
                        [error]="form.get('name')?.errors">
                    </span>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline" class="contact-input">
                    <mat-label>Email</mat-label>
                    <input formControlName="contact_email" 
                        matInput 
                        placeholder="I need an email to contact you">
                    <mat-icon matSuffix>email</mat-icon>
                    <span class="form-error-msg" 
                        error-msg
                        [show_error]="is_field_invalid('contact_email')"
                        [error]="form.get('contact_email')?.errors">
                    </span>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline" class="contact-input">
                    <mat-label>Subject</mat-label>
                    <input formControlName="subject" 
                        matInput 
                        placeholder="What do you need from me?">
                    <mat-icon matSuffix>title</mat-icon>
                    <span class="form-error-msg" 
                        error-msg
                        [show_error]="is_field_invalid('subject')"
                        [error]="form.get('subject')?.errors">
                    </span>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline" class="contact-textarea">
                    <mat-label>Message</mat-label>
                    <textarea matInput
                        formControlName="msg"
                        cdkTextareaAutosize
                        class="textarea-box"
                        placeholder="Do you want to further develop your request? Here you have the space to do it"></textarea>
                    <mat-icon matSuffix>message</mat-icon>
                    <span class="form-error-msg" 
                        error-msg
                        [show_error]="is_field_invalid('msg')"
                        [error]="form.get('msg')?.errors">
                    </span>
                </mat-form-field>
            </p>

            <div fxLayout="row" 
                fxLayoutAlign="end"
                class="contact-card-actions">
                <button mat-flat-button 
                    type="submit" 
                    color="primary"
                    class="contact-button"
                    [disabled]="form.invalid">
                    Send
                </button>
            </div>
        </form>
    </mat-card-content>

</mat-card>

<pre> Form value: {{ form.value | json }} </pre>
<pre> Form valid: {{ form.valid | json }} </pre>
<pre> Form touched: {{ form.touched| json }} </pre>