<div class="flex-container d-flex flex-row">

    <mat-card class="d-flex flex-column">
        <mat-card-header>
            <div mat-card-avatar>room img</div>
            <mat-card-title>Room name</mat-card-title>
            <mat-card-subtitle>Room desc</mat-card-subtitle>

            <div class="spacer"></div>

            <button mat-mini-fab
                    color="accent"
                    routerLink="/chat/users"
                    class="me-2"
                    aria-label="Example icon button with a menu icon">
                <mat-icon>people</mat-icon>
            </button>
            <button mat-mini-fab
                    color="primary"
                    routerLink="/chat/menu"
                    aria-label="Example icon button with a menu icon">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-card-header>

        <mat-card-content class="chat-content" #chat_window>
                <mat-list role="list">
                    <div *ngFor="let msg of messages">
                        <div *ngIf="temp_user !== msg.nickname" class="avatar"
                            [ngClass]="{ 'right-avatar': msg.nickname == username}">
                            <!-- <img class="avatar-img" [src]="msg.img" alt="..."> -->
                            {{ msg.nickname }}
                            {{ changeTemp(msg.nickname) }}
                        </div>
                        <mat-list-item class="chat-message" role="listitem"
                            [ngClass]="{ 'right-message': msg.nickname == username}">
                            {{ msg.msg }}
                        </mat-list-item>
                    </div>
                </mat-list>
        </mat-card-content>

        <mat-card-actions>
            <form (ngSubmit)="send_message()" [formGroup]="my_form" autocomplete="false">
                <div class="row gx-3">
                    <div class="col-10 col-md-11 ps-3">
                        <input type="text" class="form-control" formControlName="msg">
                    </div>
                    <div class="col-2 col-md-1">
                        <button mat-mini-fab
                                type="submit"
                                color="primary"
                                [disabled]="my_form.invalid"
                                aria-label="Send button">
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-actions>

    </mat-card>

    <app-user-list class="chat-users"></app-user-list>

</div>