<div class="background">

    <mat-grid-list cols="1" rowHeight="100%">

        <mat-grid-tile-header>
            <mat-toolbar fxLayout="row">
                <span>My Application</span>
                <span class="spacer"></span>
                <button mat-button>Home</button>
                <button mat-button>Chat</button>
                <button mat-button>Angular Blog</button>
                <button mat-button>About Me</button>
                <img src="../../../../assets/images/Logo 1.png" alt="JGR Logo" class="logo">
            </mat-toolbar>
        </mat-grid-tile-header>

        <mat-grid-tile>

            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>

    </mat-grid-list>

    <span class="background-item"></span>
    <span class="background-item"></span>
    <span class="background-item"></span>
    <span class="background-item"></span>
    <span class="background-item"></span>
    <span class="background-item"></span>
    <span class="background-item"></span>
    <span class="background-item"></span>
    <span class="background-item"></span>
</div>