.v-card {
    max-width: 100%;
    margin: 1rem 1rem 0rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(51,51,51,0.70);
    z-index: 1;
}
  
.header-image {
    background-size: cover;
}

.card-img {
    min-height: 12rem;
    max-height: 12rem;
    object-fit: cover;
}

.card-content {
    min-height: 8rem;
}

a:hover, a:focus {
    color: #333333;
}

@media (min-width: 600px) {
    .v-card {
        margin: 2rem 4rem 0rem 4rem;
    }
}

@media (min-width: 960px) {
    .v-card {
        margin: 2rem 1rem 0rem 1rem;
    }

    .card-content {
        min-height: 4.5rem;
        max-height: 4.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    .card-content:hover {
        transition: max-height 1s; 
        max-height: 30rem;
        -webkit-line-clamp: 30;
    }  
}