.v-card {
    max-width: 100%;
    margin: 1rem 1rem 0rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(51,51,51,0.70);
    overflow-y: scroll;
    z-index: 1;
}
  
.header-image {
    background-size: cover;
}

.card-img {
    min-height: 12rem;
    max-height: 12rem;
    object-fit: cover;
}

.card-content {
    min-height: 12rem;
    max-height: 12rem;
    overflow-y: scroll;
}

a:hover, a:focus {
    color: #333333;
}

@media (min-width: 600px) {
    .v-card {
        margin: 2rem 4rem 0rem 4rem;
    }

    .card-content {
        min-height: 8rem;
    }
}

@media (min-width: 960px) {
    .v-card {
        margin: 2rem 1rem 0rem 1rem;
    }

    .card-content {
        min-height: 12rem;
    }
}