<mat-card class="profile-card animate__animated animate__fadeIn animation-speed">
    <img mat-card-image 
        class="filtered" 
        [src]="profile_info.image" 
        [alt]="profile_info.image_alt_text">
    <mat-card-content>
        <div class="profile-data">
            <p>{{profile_info.name}}</p>
            <p>{{ profile_info.birthdate | date }} </p>
            <address>
                <p><a [href]="'mailto:' + profile_info.email">
                    {{profile_info.email}}</a>
                </p>
                <p>{{profile_info.location}}</p>
            </address>
        </div>
        <p class="profile-desc">
            {{ profile_info.description }}
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-mini-fab
            *ngFor="let social_button of profile_info.social"
            color="primary" 
            class="social-button" 
            fxLayout="row" 
            fxLayoutAlign="center center">
            <a [href]="social_button.link" 
                target="_blank" 
                rel="nofollow">
                <mat-icon [svgIcon]="social_button.name"></mat-icon>
            </a>
        </button>
    </mat-card-actions>
</mat-card>