<mat-card class="profile-card">
    <img mat-card-image 
        class="filtered" 
        src="../../../../assets/images/about/profile_2.jpg" 
        alt="Joel profile image">
    <mat-card-content>
        <div class="profile-data">
            <p>Joel Glez Rguez </p>
            <p>{{ '09/17/82' | date }} </p>
            <address>
                <p><a href="mailto:joelgr@hotmail.es">
                    joelgr@hotmail.es</a>
                </p>
                <p>Tenerife, Canary Islands, Spain</p>
            </address>
        </div>
        <p class="profile-desc">
            Full Stack MEAN Web Developer, Architecture Technician, Building Operator,
            Multipurpose Professional, Father... My profile is eminently technical,
            give me a problem and I will do everything in my hands to find a solution.
            Passionate about technology, I decided to reinvent myself after the global crisis
            suffered in 2007. Angular and NodeJs are my favorite Frontend and Backend
            working ecosystems, but I'm always open to other alternatives.
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-mini-fab 
            color="primary" 
            class="social-button" 
            fxLayout="row" 
            fxLayoutAlign="center center">
            <a href="https://twitter.com/GRJoe8" 
                target="_blank" 
                rel="nofollow">
                <mat-icon svgIcon="twitter"></mat-icon>
            </a>
        </button>
        <button mat-mini-fab 
            color="primary" 
            class="social-button" 
            fxLayout="row" 
            fxLayoutAlign="center end">
            <a href="https://www.linkedin.com/in/joel-gonz%C3%A1lez-rodr%C3%ADguez-087b6652/" 
                target="_blank"
                rel="nofollow">
                <mat-icon svgIcon="linkedin"></mat-icon>
            </a>
        </button>
        <button mat-mini-fab 
            color="primary" 
            class="social-button" 
            fxLayout="row" 
            fxLayoutAlign="center end">
            <a href="https://soundcloud.com/da7kl3i4" 
                target="_blank" 
                rel="nofollow">
                <mat-icon svgIcon="soundcloud"></mat-icon>
            </a>
        </button>
    </mat-card-actions>
</mat-card>