.profile-card {
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(51,51,51,0.70);
    z-index: 1;

    .profile-desc {
        max-height: 16rem;
        padding: 0rem 0.5rem 0rem 0.5rem;
        text-align: justify;
        text-justify: inter-word;
        overflow-y: scroll;
    }

    .profile-data {
        padding: 0rem 0.5rem 0rem 0.5rem;
        p {
            line-height: 12px;
        }
    }

    .filtered {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .social-button {
        margin-right: 0.3rem;
    
        a:hover, a:focus {
            color: #333333;
        }
    }
}

@media (min-width: 600px) {
    .profile-card{
        margin: 2rem 4rem 0rem 4rem;
    }
}

@media (min-width: 960px) {
    .profile-card {
        margin: 1rem 1rem 1rem 1rem;

        .profile-desc {
            max-height: 4rem;
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }

        .profile-desc:hover {
            transition: max-height 1s; 
            max-height: 20rem;
            -webkit-line-clamp: 20;
        }
    }
}