<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">

        <mat-toolbar color="primary">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a *ngFor="let item of menu_items" mat-list-item 
                [routerLink]="item.route" 
                (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
                    <span>{{item.name}}</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <!-- Mat Sidenav external Content -->

    <mat-toolbar class="pe-4">

        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <span class="mx-3">{{ user_name }}</span>

        <button mat-flat-button (click)="logout()">
            logout
        </button>

    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-container>