<div class="chat-messages" #chat_msg>
    <li class="list-group-item"
        *ngFor="let msg of messages">
        {{ msg.nickname }}: {{ msg.msg }}
    </li>
</div>

<div class="row mt-3">
    <div class="col">
        <form (ngSubmit)="send_message()" [formGroup]="my_form" autocomplete="false">
            <!-- From -->
            <div class="row mb-1">
                <label class="col-sm-1 col-form-label">From:</label>
                <label class="col col-form-label">{{ user_name }}</label>
            </div>
            <!-- Message -->
            <div class="row mb-3">
                <label class="col-sm-1 col-form-label">Message:</label>
                <div class="col">
                    <input type="text" class="form-control" formControlName="msg">
                </div>
            </div>
            <!-- Submit -->
            <button type="submit" class="btn btn-primary float-end" [disabled]="my_form.invalid">
                Send Message
            </button>
        </form>
    </div>
</div>

<!-- TESTING -->
<button class="btn btn-primary float-end" (click)="login()">Login room</button>
<button class="btn btn-primary float-end" (click)="logout()">Logout room</button>
