<div class="flex-container d-flex flex-column">
    <div class="content p-3">
        <h2>Room name</h2>
        <mat-divider></mat-divider>
        <app-user-list 
          [user_list_type] = "'Room users'"
          [profiles] = "room_users">
        </app-user-list>
    </div>

    <div class="footer">
        <button mat-mini-fab
                class="m-2 float-end"
                color="primary"
                routerLink="/chat/room"
                aria-label="Example icon button with a menu icon">
            <mat-icon>chat</mat-icon>
        </button>
    </div>
</div>