<div class="flex-container d-flex flex-column animate__animated animate__fadeIn animation-speed"
    *ngIf="is_loaded; else spinner">
    <div class="content p-3">
        <h2>Room name</h2>
        <mat-divider></mat-divider>
        <app-user-list 
          [user_list_type] = "'Room users'"
          [profiles] = "room_users">
        </app-user-list>
    </div>

    <div class="footer">
        <button mat-mini-fab
                class="m-2 float-end"
                color="primary"
                [routerLink]="'/chat/room/' + room_id + '/' + profile_id"
                aria-label="Example icon button with a menu icon">
            <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>

<ng-template #spinner>
    <div class="flex-container-spinner d-flex justify-content-center align-items-center">
        <mat-progress-spinner
        diameter="60"
        color="primary"
        mode="indeterminate"
        value="80">
        </mat-progress-spinner>
    </div>
</ng-template>