.card {
    max-width: 85%;
    margin-top: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(51,51,51,0.70);
    z-index: 1;
 }

 .card-img-container {
    overflow: scroll;
    margin-bottom: 1rem;
    padding: 0rem 1rem 0rem 1rem;
 }

 .card-img {
     object-fit: cover;
     width: 100%;
     height: 100%;
 }

 .multi-card-img {
     object-fit: cover;
     width: 10%;
 }

 .card-text-container {
     padding: 0.5rem 0.5rem 0rem 1rem;
     overflow: scroll;
 }

.card-text {
    padding-top: 1rem;
}

@media (min-width: 600px) { 
    .card-img-container { 
        padding: 0rem 3rem 0rem 3rem;
    }
}

 @media (min-width: 960px) {
    
    .card {
        height: auto;
        margin-top: 0rem;
    }

    .card-img-container {
        margin-bottom: 0rem;
        max-width: 50%;
        padding: 0rem 0rem 0rem 0rem;
    }

    .card-text-container {
        padding: 1.5rem 1.5rem 1rem 2rem;
    }

    .card-text {
        padding-left: 1rem;
    }
 }