<div fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="card" fxLayout="column" fxLayout.gt-sm="row">

        <div *ngIf="card.image" class="card-img-container" fxLayout="column" fxLayoutAlign="center center">
            <img class="card-img" [src]="card.image" [alt]="card.image_alt_text">
        </div>

        <div *ngIf="card.image_group" class="card-img-container" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="1rem">
            <img fxFlex="20" *ngFor="let img of card.image_group" class="multi-card-img" [src]="img" [alt]="card.image_alt_text">
        </div>

        <mat-card-content class="card-text-container">
            <mat-card-header>
                <mat-card-title> {{ card.title }} </mat-card-title>
            </mat-card-header>
            <mat-divider inset="true">
            </mat-divider>
            <div class="card-text">
                <p *ngFor="let paragraph of card.description"> {{ paragraph }} </p>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </div>
        </mat-card-content>

    </mat-card>

</div>
