<div fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="card" fxLayout="column" fxLayout.gt-xs="row">

        <div class="card-img-container" fxLayout="column" fxLayoutAlign="center center">
            <img class="card-img" src="../../../../assets/images/logos/angular.png" alt="Angular photo">
        </div>

        <mat-card-content class="card-text-container">
            <mat-card-header>
                <mat-card-title>Inicio</mat-card-title>
            </mat-card-header>
            <mat-divider inset="true">
            </mat-divider>
            <div class="card-text">
                <p>Bienvenido/a!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>Temporibus soluta ratione quam repellat, aspernatur, nisi asperiores tempore laborum praesentium
                    hic possimus tenetur.</p>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </div>
        </mat-card-content>

    </mat-card>

</div>
