<h1 mat-dialog-title>Select a profile</h1>

<div mat-dialog-content>
    <form [formGroup]="form">

            <mat-radio-group 
                aria-labelledby="Nickname radio froup"
                formControlName="nickname"
                class="d-flex flex-column mb-3">
                <mat-radio-button 
                    *ngFor="let profile of profiles" 
                    [value]="profile.nickname"
                    class="m-1">
                    {{profile.nickname}}
                </mat-radio-button>
            </mat-radio-group>

    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="exit()">
        Go out!
    </button>
    <button mat-button (click)="send_data()" cdkFocusInitial>
        Ok
    </button>
</div>