<div class="flex-container d-flex flex-column animate__animated animate__fadeIn animation-speed">

  <div class="content">
    <div *ngIf="view === 'my-chats'">
        <app-chat-list 
          [chat_list_type]="'My Chats'" 
          [rooms]="user_rooms"
          [is_general]="false" 
          (on_emit_object)="get_actions($event)">
        </app-chat-list>
    </div>

    <div *ngIf="view === 'gral-chats'">
        <app-chat-list 
          [chat_list_type]="'General Chats'"
          [rooms]="all_rooms"
          (on_emit_object)="get_actions($event)">
        </app-chat-list>
    </div>

    <div *ngIf="view === 'my-profiles'">
        <app-user-list 
          [user_list_type]="'My Profiles'"
          [profiles]="user_profiles"
          [is_general]="false"
          (on_emit)="delete_profile_dialog($event)">
        </app-user-list>
    </div>
  </div>

  <div class="footer">
    <button *ngIf="view === 'my-chats'" 
      mat-mini-fab
      (click)="openRoomDialog()"
      color="primary" 
      class="float-end me-2 my-2">
      <mat-icon>add</mat-icon>
    </button>
    <button *ngIf="view === 'my-profiles'" 
      mat-mini-fab
      (click)="openProfileDialog()"
      color="primary" 
      class="float-end me-2 my-2">
      <mat-icon>add</mat-icon>
    </button>

    <mat-toolbar class="row">
      <mat-button-toggle-group #group="matButtonToggleGroup" class="button-group" (click)="change_view(group)">

        <div class="col-4">
          <mat-button-toggle value="my-chats" aria-label="Show user connected chats"
            class="py-3 button-toggle">
            <mat-icon>question_answer</mat-icon>
          </mat-button-toggle>
        </div>

        <div class="col-4">
          <mat-button-toggle value="gral-chats" aria-label="Show all chats" class="py-3 button-toggle">
            <mat-icon>view_headline</mat-icon>
          </mat-button-toggle>
        </div>

        <div class="col-4">
          <mat-button-toggle value="my-profiles" aria-label="Show user profiles" class="py-3 button-toggle">
            <mat-icon>supervisor_account</mat-icon>
          </mat-button-toggle>
        </div>

      </mat-button-toggle-group>
    </mat-toolbar>
  </div>

</div>