<div class="flex-container d-flex flex-column">
    <div class="content d-flex flex-row flex-wrap">

        <mat-card class="profile-card m-md-3">
            <mat-card-header>
                <mat-card-title>{{ profile.nickname }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]='profile.photo' (error)="changeSource($event)" alt="Profile Image">
            <mat-card-content>
                <p>
                    {{ profile.desc }}
                </p>
            </mat-card-content>
        </mat-card>


        <div class="ps-3 pt-3 pe-md-3 flex-grow-1">
            <form class="pb-2" *ngIf="is_user_profile" [formGroup]="form">
                <p class="d-flex flex-row">
                    <mat-form-field class="flex-grow-1">
                        <mat-label>Nickname</mat-label>
                        <input formControlName="nickname" matInput placeholder="Your nickname goes here">
                    </mat-form-field>
                    <button mat-mini-fab class="m-2 float-end" color="primary" (click)="update_nickname()"
                        aria-label="Back to last page menu">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </p>
                <p class="d-flex flex-row">
                    <mat-form-field class="flex-grow-1">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="desc" matInput placeholder="Describe your profile"></textarea>
                    </mat-form-field>
                    <button mat-mini-fab class="m-2 float-end" color="primary" (click)="update_info()"
                        aria-label="Back to last page menu">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </p>
                <p class="d-flex flex-row">
                    <mat-form-field class="flex-grow-1">
                        <mat-label>Photo URL</mat-label>
                        <input formControlName="photo" matInput placeholder="https://some-domain.com/...">
                    </mat-form-field>
                    <button mat-mini-fab class="m-2 float-end" color="primary" (click)="update_info()"
                        aria-label="Back to last page menu">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </p>
            </form>


            <h3 class="ms-2">Connected Rooms</h3>
            <mat-divider class="mx-2 pb-1"></mat-divider>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let room of profile_rooms">{{room.name}}</mat-list-item>
            </mat-list>

        </div>
    </div>

    <div class="footer">
        <button mat-mini-fab class="m-2 float-end" color="primary" (click)="backToPreviousPage()"
            aria-label="Back to last page menu">
            <mat-icon>undo</mat-icon>
        </button>
    </div>
</div>