<div class="flex-container d-flex flex-column">
    <div class="content d-flex flex-row flex-wrap">

        <mat-card class="profile-card m-md-3">
            <mat-card-header>
                <mat-card-title>{{ profile.nickname }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]='profile.photo' (error) ="changeSource($event)" alt="Profile Image">
            <mat-card-content>
                <p>
                    {{ profile.desc }}
                </p>
            </mat-card-content>
        </mat-card>


        <div class="p-3 pe-md-5 flex-grow-1">
            <form class="pb-2" *ngIf="is_user_profile" [formGroup]="form" (ngSubmit)="send_form()">
                <p>
                    <mat-form-field class="input-full-width">
                        <mat-label>Nickname</mat-label>
                        <input formControlName="nickname" matInput placeholder="Your nickname goes here">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="input-full-width">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="desc" matInput placeholder="Describe your profile"></textarea>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="input-full-width">
                        <mat-label>Photo URL</mat-label>
                        <input formControlName="photo" matInput placeholder="https://some-domain.com/...">
                    </mat-form-field>
                </p>

                <mat-divider class="mx-2 pb-4"></mat-divider>
            </form>


            <h3 class="ms-2">Connected Rooms</h3>
            <mat-divider class="mx-2 pb-1"></mat-divider>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let room of profile.rooms">{{room}}</mat-list-item>
            </mat-list>

        </div>
    </div>

    <div class="footer">
        <button mat-mini-fab class="m-2 float-end" color="primary" routerLink="/chat/menu"
            aria-label="Example icon button with a menu icon">
            <mat-icon>home</mat-icon>
        </button>
    </div>
</div>