<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">

        <mat-toolbar color="primary">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a *ngFor="let item of menu_items" mat-list-item [routerLink]="item.route" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
                <span>{{item.name}}</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <!-- Mat Sidenav external Content -->

        <mat-toolbar class="toolbar">
            <span>My PortFolio</span>
            <span class="spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
                <button *ngFor="let item of menu_items" mat-button [routerLink]="item.route">
                    {{ item.name }}
                </button>
                <!-- <img src="../../../../assets/images/Logo 1.png" alt="JGR Logo" class="logo"> -->
            </div>
            <div fxShow="true" fxHide.gt-sm="true">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </mat-toolbar>

        <div class="background">

            <router-outlet></router-outlet>

            <span class="background-item"></span>
            <span class="background-item"></span>
            <span class="background-item"></span>
            <span class="background-item"></span>
            <span class="background-item"></span>
            <span class="background-item"></span>
            <span class="background-item"></span>
            <span class="background-item"></span>
            <span class="background-item"></span>

            
            <mat-toolbar class="footer">
                <div>© Joel Glez Rod</div>
                <div class="spacer"></div>
                <div>2021</div>
            </mat-toolbar>
        </div>

        
</mat-sidenav-container>