.menu-content {
  min-height: calc(100% - 64px);
}

.toolbar {
    position: relative;
    padding: 0rem 2rem 0rem 2rem;
    z-index: 1;
}
    
  /* --------------------------------------------------- */ 
  // Animated Background - Created by Louis Hoebregts
  /* --------------------------------------------------- */
  
  .background {
      // background: #3E1E68;
      background: #333333;
      // height: calc(100% - 64px);
      height: 100%;
      padding-bottom: 2rem;
  }
    
    $particleSize: 20vmin;
    $animationDuration: 6s;
    $amount: 20;
    .background .background-item {
      width: $particleSize;
      height: $particleSize;
      border-radius: $particleSize;
      backface-visibility: hidden;
      position: absolute;
      animation-name: move;
      animation-duration: $animationDuration;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      $colors: (
      //   #583C87,
      //   #E45A84,
      //   #FFACAC
        #E0E0CA,
        #E0E0E0,
        #CAD8E0
      );
      @for $i from 1 through $amount {
        &:nth-child(#{$i}) {
          color: nth($colors, random(length($colors)));
          top: random(60) * 1%;
          left: random(60) * 1%;
          animation-duration: (random($animationDuration * 100) / 10) * 1s + 10s;
          animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
          transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
          $blurRadius: (random() + 0.5) * $particleSize * 0.5;
          $x: if(random() > 0.5, -1, 1);
          box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
        }
      }
    }
    
    @keyframes move {
      100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
      }
    }
  
  /* --------------------------------------------------- */

