<div class="flex-container d-flex flex-column">
    <div class="content d-flex flex-row flex-wrap">

        <mat-card class="profile-card m-md-3">
            <mat-card-header>
                <mat-card-title> {{ room.name }} </mat-card-title>
            </mat-card-header>
            <img mat-card-image
                [src]='room.photo' (error)="changeSource($event)"
                alt="Profile Image">
            <mat-card-content>
                <p>
                    {{ room.desc }}
                </p>
            </mat-card-content>
        </mat-card>


        <div class="ps-3 pt-3 pe-md-3 flex-grow-1">
            <form class="pb-2" [formGroup]="form">
                <p class="d-flex flex-row">
                    <mat-form-field class="flex-grow-1">
                        <mat-label>Room name</mat-label>
                        <input formControlName="name" matInput placeholder="The Room name goes here">
                    </mat-form-field>
                    <button mat-mini-fab class="m-2 float-end" color="primary" (click)="update_room_name()"
                        aria-label="Update room name">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </p>
                <p class="d-flex flex-row">
                    <mat-form-field class="flex-grow-1">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="desc" matInput placeholder="Describe the chat room"></textarea>
                    </mat-form-field>
                    <button mat-mini-fab class="m-2 float-end" color="primary" (click)="update_room_info()"
                        aria-label="Update room info - description">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </p>
                <p class="d-flex flex-row">
                    <mat-form-field class="flex-grow-1">
                        <mat-label>Photo URL</mat-label>
                        <input formControlName="photo" matInput placeholder="https://some-domain.com/...">
                    </mat-form-field>
                    <button mat-mini-fab class="m-2 float-end" color="primary" (click)="update_room_info()"
                        aria-label="Update room info - description">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </p>
                <p class="d-flex flex-row">
                    <button *ngIf="!room.has_password; else haspassword" 
                        mat-raised-button 
                        color="primary"
                        (click)="update_room_password()">
                        Add Password
                    </button>
                    <ng-template #haspassword>
                        <button 
                            mat-raised-button 
                            color="primary"
                            (click)="update_room_password()">
                            Change password
                        </button>
                    </ng-template>
                </p>
                    
            </form>

            <mat-divider class="mx-2 pb-4"></mat-divider>

            <h3>Connected Profiles:</h3>
            <mat-list role="list">
                <mat-list-item 
                    *ngFor="let profile of room.profiles" 
                    role="listitem">
                        {{ profile.nickname }}
                </mat-list-item>
            </mat-list>

        </div>
    </div>

    <div class="footer">
        <button mat-mini-fab
                class="m-2 float-end"
                color="primary"
                routerLink="/chat/menu"
                aria-label="Example icon button with a menu icon">
            <mat-icon>home</mat-icon>
        </button>
    </div>
</div>

