/* You can add global styles to this file, and also import other style files */

footer.my-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}

.chat-messages {
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: scroll;
}
